* {
  padding: 0;
  margin: 0;
}

html {
  background-color: #eee;
}

body {
  background-color: #eee !important;
  color: #333;
  font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
  font-size: 12px;
  line-height: 18px;
}

.iconContainer {
  /*position: absolute;
  bottom: 0px;*/
  height: 100px;
  padding-left: 300px;
}

.iconContainer img {
  height: 30px;
  margin: 10px 10px 20px 10px;
  float: right;
}

.core-opened /deep/ #overlay {
  background-color: white; 
  border-radius: 2px;
  width: 400px;
  padding: 20px;
}

#registrationOverlayContainer {
  height: 450px;
}

#loginOverlayContainer h2, #registrationOverlayContainer h2 {
  margin-bottom: 30px;
}

#loginOverlayContainer, #registrationOverlayContainer {
  width: 400px; 
  height: 400px;
  background-color: #fff;
  border-radius: 2px; 
  padding: 30px;
  border-radius: 2px;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  z-index: 3;
}

.dialogButton {
  position: absolute;
  bottom: 30px;
}

#loginButton, #registrationButton {
  right: 30px; 
}

#withoutLoginButton {
  left: 180px;
}

#loginErrorMessage {
  color: red;
  display: none; 
  text-align: center; 
}

#registrationOverlayContainer {
  height: 450px;
}

#loginOverlayContainer h2, #registrationOverlayContainer h2 {
  margin-bottom: 30px;
}

#loginOverlayContainer paper-input, #registrationOverlayContainer paper-input {
  width: 100%;
}

.overlayBackground {
  position: absolute; 
  background-color: #000;
  height: 100%;
  opacity: 0.6; 
  top: 0; left: 0; bottom: 0; right: 0;
  z-index: 2;
}

.avoidScrolling {
  height: 100%;
  overflow: hidden;
}

.core-opened /deep/ .loginDescription {
  padding-top: 14px;
  margin-left: 14px;
}

.core-opened /deep/ .loginInput {
  display: inline;
}

.links li {
  float: left;
  display: block;
}

#preselectionSearchButton {
  position:fixed;
  right: 20px; 
  bottom: 20px;
  background-color: #ffc107;
  color: #fff;
}

#background {
  position: absolute;
  height: 780px;
  width:180px;
  background-color: #795548;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  margin-bottom: 30px;
}

.preselectionKindContainer {
  text-align: center;
}

.card, .preselectionLeftArrow, .preselectionRightArrow {
  display: inline-block;
}

#kindOfMenuSelector {
  border-bottom: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

#kindOfMenuSelector > *.core-selected {
  border: 6px solid #795548;
}

#levelOfDifficultySelector > *.core-selected {
  background-color: #795548;
  border: none;
}       

#myRecipesItem {
  width: 600px;
  margin: 0px auto;
}

.addToFavouritesBtn {
  position: absolute;
  top: 10px; 
  right: 10px;
}

.card {
  width: 100px; 
  height: 100px; 
  background-color: #fff;
  border-radius: 2px;
  margin: 20px;
  padding: 15px 25px 0px 25px;
}

.card:not(.selectedCard) {
 /* margin-top: 40px;*/
}
.card img {
  width: 100%;
}

.selectedCard {
  width: 150px; 
  height: 150px; 
  margin-bottom: 0px;
}

core-toolbar {
  background-color: #795548; 
  color: #fff;
}

core-toolbar /deep/ #selectionBar{
  background-color: #ffc107; 
}

paper-tab /deep/ #ink {
  color: #ffc107; 
  opacity: 0.2;
}
#heading {
  font-size: 30px; 
  font-weight: bold;
  margin: 25px 150px 0px 20px;
}

.rightSide {
  margin-left: 20px;
}

#mainMenuTabs, #sliderContainer {
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.2);
}

#menuButton {
  color: #fff;
}


img {
  border: none;
}
a {
  color: #6998f0;
  text-decoration: none;
}
a:hover {
  color: #000;
  text-decoration: underline;
}

#wrap {
  width: 1000px;
  margin: 0px auto;
}

.right {
  width: 628px;
  margin: 20px auto;
  padding: 10px 0px 10px 0px;
  text-align: justify;
}

#countSelect, #sortSelect {
  margin-left: 10px;
}

#result {
  margin-top: 50px;
}

#result a {
  margin-right: 5px;
}

#pager,
#pager-header {
  display: inline;
}

#pager li,
.links li {
  list-style-type: none;
  display: inline;
}

#selection {
  padding: 10px 15px 0;
}

#selection li {
  list-style-type: none;
}

#docs {
  padding-top: 1px;
  padding-bottom: 20px;
}

.resultElement {
  border-radius: 2px; 
  margin: 10px;
  background-color: #fff;
  min-height: 350px;
}

.resultElement h2 {
  font-size: 20px;
  font-weight: bold;
  color: #795548; 
  padding:20px 60px 20px 20px;
  margin: 0px;
}

.resultElement p {
  padding: 0px 20px 20px 20px;
}

.resultDescription {
  width: 400px;
  display: inline-block;
  /*position: absolute; 
  right: 0px; 
  top: 0px;
  height: 100%;*/
}

#imgContainer {
  width: 480px;
  border-radius: 2px;
}

#imageGetterContainer {
  margin: 10px auto;
  position: relative; 
  width: 500px;
  padding: 10px;
  background-color: #fff;
}

#search-button {
  margin-bottom: 40px;
}

.resultImg {
  border-radius: 2px;
   position:relative; 
   width:150px; 
   height:150px; 
   margin-left: 10px;
   overflow: hidden;
   margin-top: 15%;
   display: inline-block;
}

.resultImg img {
  height: 100%;
}

body /deep/ core-dropdown::shadow #menu {
  border: 1px solid #ccc;
}

body /deep/ #menu {
  padding: 0px;
}

paper-slider {
  width: 90%;
}

paper-slider::shadow #sliderKnobInner,
paper-slider::shadow #sliderKnobInner::before,
paper-slider::shadow #sliderBar::shadow #activeProgress {
  background-color: #795548;
}

.ingredientsBox {
  width: 100%;
  min-height: 40px;
  border: 2px solid #ccc; /*#5a5a5a;*/
  margin: 20px 0px;
  padding: 10px 0px 0px 10px;
}

#likeBox {
  margin-bottom: 40px;
}

.addInput {
  background-color: #fff;
  margin-right: 10px;
}

#likeAddInput, #dislikeAddInput {
  border: 2px solid #ccc;
  margin: 0px;
}

.addInput input {
  margin-left: 10px;
}
.addButton {
  border-left: 2px solid #ccc;
}

core-dropdown /deep/ core-item {
  padding: 0px 10px 0px 10px;
}

.left {
  float: left;
}

input[type="radio"] {
  margin-bottom: 30px;
  margin-top: 10px;
}

input[type="range"] {
  width: 80%;
  margin: 0 auto;
  position: relative;
  float:left;
}

.leftSide {
  width: 300px;
  padding: 0 0 10px 00px;
  margin: 20px !important;
}

[drawer] {
  background-color: #fff;
  box-shadow: 1px 0 1px rgba(0, 0, 0, 0.1);
}

#menuButton {
  margin-top: 25px;
}

.menuTitle, paper-radio-button, .preselectionHeading {
  float: left;
}

.preselectionHeading {
  font-size: 20px;
  font-weight: bold;
  width: 184px;
  margin-top: 20px;
}

#preselectionContainer {
  margin: 0px auto;
}

#preselectionContainer paper-icon-button, .preselectionHeading {
  margin-top: 70px;
}

.preselectionHeading {
  margin-right: 20px;
}

#drawerPanel {
  margin-top: 192px;
}

core-drawer-panel /deep/ #dropShadow {
  display: none;
}

#sliderContainer {
  width: 50%;
  border-radius: 2px;
  overflow: hidden;
  margin: 0px auto 20px auto;
}

#sliderContainer slider-component /deep/ #container {
  width: 100%;
  height: 100%;
}

#sliderContainer slider-component /deep/ img {
  height:auto;
}

core-selector paper-icon-button:not([active])::shadow core-icon {
  fill: #c9c9c9;
}

#nutritionConceptSelect {
  margin-left: 15px;
}

#kindOfMenuSelector /deep/ core-icon {
  position: absolute;
  top: 0px;
  left: 0px;
  fill: #fff;
  color: #fff;
}

.kindOfMenuContainer {
  width: 100px;
  height: 100px;
  background-color: #fff;
  padding: 0px;
  position:relative; 
  float: left;
  text-align: center;
  margin: 0px 0px 10px 10px;
  border-radius: 2px;
  overflow: hidden;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.kindOfMenuContainer img {
  width: 40px;
  margin: 15px;
}

.iconDiv {
  transform:rotate(45deg);
  width: 60px; 
  height: 60px;
  background-color: #795548;
  position: absolute;
  top: -30px;
  left: -30px;
}

.white {
  background-color: white;
  height: 28px;
  border-bottom: 1px solid #BBB;
  border-top: 1px solid #BBB;
}

.ui-autocomplete {
  border-radius: 2px !important;
  padding: 0px !important;
}

.ui-state-hover {
  border-radius: 2px !important;
  margin: 0px !important;
  background: #eee !important;
  border: 0px !important;
}

slider-component::shadow .bullet {
  opacity: .6;
}

slider-component::shadow .accent:hover { 
  opacity: 1; 
}

#search {
  float: right;
  width: 628px;
  background-color: #fff;
  margin-top: 25px;
  border-radius: 2px;
}


#searchTypeSelect {
  border-left: 2px solid #BBB;
  width: 170px;
}

#content {
  height: 100%;
  margin: 0px auto !important; 
  padding-top: 20px;
}

.centerInformation {
  margin: 0px auto !important; 
  height: 100%;
}

.facetItem {
  color: #fff; 
  background-color: #795548;
  margin: 0px 10px 10px 0px;
  padding: 10px 20px 10px 20px;
  border-radius: 2px; 
  display: inline-block;
  position: relative; 
}

.deleteButton {
  display: none; 
  width: 10px; 
  height: 10px; 
  position: absolute; 
  right: 0;
  top: 0;
  cursor: pointer;
}

.center {
  margin: 220px auto; 
  width: 80%; 
  height: 80%;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

#personalInformation {
    font-weight: bold;
    font-size: 10pt;
    float: left;
}

#cathegories {
  float: left;
}

.dialogButton {
  margin-right: 0px;
  float: right;
}

body /deep/ paper-button.colored {
  color: #4285f4;
  fill: #4285f4;
}

.clear {
    clear: both;
}

paper-checkbox /deep/ #ink {
  width: 40px;
  height: 40px; 
  top: -10px; 
  left: -10px;
}

.levelOfDifficulty {
  width: 70px; 
  height: 20px;
  background-color: #fff;
  border: 1px solid #ccc; 
  float: left;
}

.levelOfDifficultyText {
  width: 70px;
  float: left;
  padding:10px;
}

#countSelectContainer, #sortSelectContainer {
  float: left;
  padding-left: 60px;
}

.profilInformation, .ingredientsLikes {
  padding: 20px;
  float: left;
  margin-bottom: 20px;
  margin-right: 20px;
  background-color: #fff;
}

@media (max-width: 750px) {
  .ingredientsLikes, .profilInformation {
    width: 100%;
  }
}

@media (min-width: 750px) and (max-width: 1000px) {

  .ingredientsLikes {
    width: 100%;
  }

  .profilInformation {
    width: 46%;
  }

}

@media (min-width: 1000px) {

  .ingredientsLikes {
    width: 60%;
  }

  .profilInformation {
    width: 35%;
  }

}

.notLoggedIn {
  text-align: center; 
  width: 60%; 
  background-color: #fff; 
  margin: 20px auto; 
  padding: 20px; 
}
.profilInformation p {
    padding: 20px;
    color: #333;
    line-height: 20pt;
    font-weight: bold;
}
  
.profilInformation div {
    color: black;
}

.cBContainer {
  margin: 10px;
}

paper-checkbox {
  padding-right: 10px;
}
paper-checkbox::shadow #ink[checked] {
  color: #795548;
}
    
paper-checkbox::shadow #checkbox.checked {
  border-color: #795548;
}